#root {
    margin-left: 40px;
}

.img-logo {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

h1 {
    font-family: 'Finger Paint', cursive;
    font-size: 30px;
    color: #333;
    text-shadow: 0.1em 0.1em #4AB7F7
}

h3 {
    font-family: 'Finger Paint';
}
